/**
 * @author João R. Santos <up201809187@fe.up.pt>
 */

$blue: #2e86de;
$dark-blue: #2c3e50;
$dark-grey: #1B1B1B;
$medium-grey: #2D2D2D;
$light-grey: #dfe6e9;
$white: #fff;
$pink: #F16664;
$green: #10ac84;
$yellow: #feca57;
$light-pink: #ff9ff3;